.page {
    max-width: 1280px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    background: #F4F4F4;
    padding: 75px 80px;
}

@media screen and (max-width: 720px) {
    .page {
        background: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 320px;
        margin: 0 auto;
        padding: 0;
    }
}
